.training-plans-container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2em;
}

.training-plans-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.table-cell:hover {
  cursor: pointer;
}

table {
  width: 100%;
}
