  <div>
    <a class="link" [routerLink]="'/'">
      <h1 class="logo">Akademia treningu</h1>
    </a>
  </div>

  <div>
    <button mat-stroked-button class="buttons">Społeczność</button>
    <button mat-stroked-button class="buttons">Atlas ćwiczeń</button>
    <button mat-stroked-button class="buttons">Dziennik</button>
  </div>

  <div class="account-buttons-div">
    <button mat-stroked-button class="account-buttons" [routerLink]="'/register'">Rejestracja</button>
    <button mat-stroked-button class="account-buttons" [routerLink]="'/login'">Logowanie</button>
  </div>
