.exercise-details-container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2em;
  background-color: silver;
}

.youtube-player {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
}

app-exercise-details {
  background-color: silver;
}
