<div class="password-reset-container">
  <mat-card>
    <mat-card-title style="text-align: center; margin: 20px">Przypominanie hasła</mat-card-title>
    <mat-card-content>
      <p style="text-align: center; margin: 20px">
        Podaj swój e-mail, aby otrzymać link do resetowania hasła
      </p>
      <p style="text-align: center; margin: 20px">
        <mat-form-field>
          <input type="text" matInput placeholder="e-mail" formControlName="login">
        </mat-form-field>
      </p>
      <div style="text-align: center; margin: 20px">
        <button mat-stroked-button type="submit" mat-button>Wyślij</button>
      </div>

    </mat-card-content>
  </mat-card>
</div>
