<div class="banner">
  <img class="banner-img" src="./assets/banner.jpg">
</div>
<div class="outer">
  <div class="description">
    <h1 class="header">Witaj na akademii treningu!</h1>

    <p class="description-text">
      Akademia treningu to miejsce idealne zarówno dla trenerów personalnych oraz ich podopiecznych.
      Jako trener znajdziesz tu osoby chętne do współpracy z Tobą. Jeśli jednak nie jesteś trenerem, będziesz mógł
      znaleźć tutaj idealnego trenera w twojej okolicy który poprowadzi twój trening. Dodatkowo przeglądaj posty
      na blogach innych użytkowników, zdobywaj wiedzę na temat ćwiczeń poprzez oglądanie filmów instruktażowych
      w atlasie ćwiczeń, nawiązuj znajomości z innymi użytkownikami, wymieniaj się doświadczeniami,
      a także zapisuj swoje treningi w dzienniku i śledź swoje postępy.
    </p>
  </div>
</div>

