.profile {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2em;
}

.name-with-buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
}

.icons {
  padding-left: 5px;
  padding-right: 5px;
}

.icons:hover {
  cursor: pointer;
}

.name {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 30px;
}
