<div class="register-container">
  <mat-card>
    <mat-card-title style="text-align: center; margin: 20px">Rejestracja</mat-card-title>
<mat-card-content>
  <div class="rows">
    <p class="inputs">
      <mat-form-field>
        <input type="text" matInput placeholder="Imię" formControlName="login">
      </mat-form-field>
    </p>

    <p class="inputs">
      <mat-form-field>
        <input type="text" matInput placeholder="Nazwisko" formControlName="password">
      </mat-form-field>
    </p>
  </div>

  <div class="rows">
    <p class="inputs">
      <mat-form-field>
        <input type="text" matInput placeholder="Login" formControlName="login">
      </mat-form-field>
    </p>

    <p class="inputs">
      <mat-form-field>
        <input type="password" matInput placeholder="Hasło" formControlName="password">
      </mat-form-field>
    </p>
  </div>

  <div class="rows">

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Rola</mat-label>
        <mat-select>
          <mat-option value="one">Trener</mat-option>
          <mat-option value="two">Podopieczny</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p class="inputs">
      <mat-form-field>
        <input type="email" matInput placeholder="E-mail" formControlName="password">
      </mat-form-field>
    </p>
  </div>

  <div style="text-align: center;">
    <p class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>Data urodzenia</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>
  </div>


  <div style="text-align: center;">
    <a [routerLink]="'/login'">Masz już konto?</a>
  </div>

  <div style="text-align: center; margin: 20px">
    <button mat-stroked-button type="submit" mat-button>Zarejestruj</button>
  </div>

</mat-card-content>
</mat-card>
</div>

